body {
    background-color: black;
    
}
#container {
    display: grid;
    grid-template-areas: "top" "top" "top",
                        "description" "description" "description",
                        "level",
                        "canvas" "canvas" "canvas",
                        "play" "play",
                        "bottom" "footer" "bottom",
}

#title {
    grid-area: "top";
    text-align: center;
    font-size: 80px;
    color: red;
    font-family: 'Syne Tactile', cursive;
}

#description {
    grid-area: "description";
    font-family: 'Syne Mono', monospace;
    color: rgb(102, 216, 102);
    font-size: 30px;
    text-align: center;
}

#level {
    grid-area: "level";
    color: yellow;
    font-size: 40px;
    text-align: center;
}
#game-area {
    display: grid;
    background-color: white;
    background-image: url("background.png"); 
    /* I think this needs to be changed so that the level will display???? */
    z-index: -10;
    background-size: cover;
    grid-area: "canvas";
    margin: auto;
    width: 1500px;
    height: 500px;
    border: 1px solid black;
}

#play {
    grid-area: "play";
    color: rgba(255, 255, 0, 0.616);
    text-align: center;
}
#reset {
    grid-area: "play";
    color: rgba(255, 255, 0, 0.616);
    text-align: center;
}
#footer {
    grid-area: "footer";
    color: white;
    text-align: center;
}
#level {
    grid-area: "level";
    text-align: center;
}

@media (max-width: 3100) {
    #game-area {
        width: 1000px;
        height: 200px;
    }
}